<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create Users Details
    </h1>

    <label class="form-title">Email <input #taskEmailInput class="input has-background-light is-medium" type="text" placeholder="Enter your email"></label>
    <label class="form-title">Phone No. <input #taskPhoneInput class="input has-background-light is-medium" type="text" placeholder="Enter your Phone No"></label>
    <label class="form-title">Skill <input #taskSkillInput class="input has-background-light is-medium" type="text" placeholder="Enter your Skill"></label>
    <label class="form-title">Hobby <input #taskHobbyInput class="input has-background-light is-medium" type="text" placeholder="Enter your Hobby"></label>
    <br><br>
    <div class="buttons is-right">
      <button class="button is-medium" routerLink="/">Cancel</button>
      <button class="button is-primary has-text-white is-medium" (click)="createTask(taskEmailInput.value,taskPhoneInput.value,taskSkillInput.value, taskHobbyInput.value)">Create</button>
    </div>

    
  </div>
</div>